html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #535353;
  text-align: center;
  overflow: hidden;
}

.page--wider canvas {
  width: 100vh!important;
  height: 100vh!important;
}
.page--taller canvas {
  width: 100vw!important;
  height: 100vw!important;
}